.common__section {
  background: linear-gradient(rgba(46, 106, 78, 0.6), rgba(12, 62, 2, 0.6)),
    url("../assets/all-images/common.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 80px 0px;
}
