#chart_div{
  color:'black'!important
}

#chart_div .google-visualization-orgchart-text{
  color:'black' !important
}
#chart_div .google-visualization-orgchart-linebottom {
    border-bottom: 3px solid rgb(103, 38, 159);
  }
  
  #chart_div .google-visualization-orgchart-lineleft {
    border-left: 3px solid rgb(103, 38, 159);
  }
  
  #chart_div .google-visualization-orgchart-lineright {
    border-right: 3px solid rgb(103, 38, 159);
  }
  
  #chart_div .google-visualization-orgchart-linetop {
    border-top: 3px solid rgb(103, 38, 159);
  }